.table-wrapper {
  width: 100%;
  overflow-x: auto;
}

.table-container {
  min-width: 1000px; /* Fixní šířka tabulky */
  border: 1px solid #444;
  border-radius: 5px;
  background: #222;
  color: white;
}

.thead {
  background: #333;
  font-weight: bold;
}

.tr {
  display: grid;
  grid-template-columns: 50px 250px 200px 150px 150px 1fr;
  border-bottom: 1px solid #444;
  padding: 10px 0;
  align-items: center;
}

.th,
.td {
  padding: 10px;
  text-align: left;
  border-right: 1px solid #444;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  align-items: center;
  justify-content: center;
}

.col-id {
  width: 50px;
  min-width: 50px;
}
.col-description {
  width: 250px;
  min-width: 250px;
}
.col-project {
  width: 200px;
  min-width: 200px;
}
.col-time {
  width: 150px;
  min-width: 150px;
}
.col-actions {
  width: 140px;
  min-width: 100%;
}

.th:last-child,
.td:last-child {
  border-right: none;
}
